page-promotions {
      .toolbar-title{
        img{
            width: 200px;
            display: block;
            margin: 0 auto;
        }
      }
      .grid{
        position: relative;
        top: 8rem;
      }
      
    }

      .back-button.show-back-button{
            background-color: transparent !important;
      }

    